:root {
  --ctp-mocha-base: #1e1e2e;
  --ctp-mocha-surface: #313244;
  --ctp-mocha-overlay: #45475a;
  --ctp-mocha-text: #cdd6f4;
  --ctp-mocha-accent: #cba6f7;
  --ctp-mocha-subtle: #a6adc8;

}.signupPage.dark-theme .signupBg {
  width: 100vw;
  height: 100vh;
  background-image: url(/Users/akashrevankar/Developer/Reactify-code/src/assets/flowers-6.jpg);
  background-color: var(--ctp-mocha-base);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 5rem;
}

.signupPage.dark-theme .signUp {
  border: 1px solid var(--ctp-mocha-accent);
  border-radius: 2rem;
  background: rgba(24, 24, 37, 0.82);
  height: 90vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  backdrop-filter: blur(10px);
}

.signupPage.dark-theme .title h1 {
  font-size: 2rem;
}
.signupPage.dark-theme .title {
  color: var(--ctp-mocha-text);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signupPage.dark-theme .title span {
  color: var(--ctp-mocha-accent);
}

.signupPage.dark-theme .inputs {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.signupPage.dark-theme .field {
  width: 90%;
  color: var(--ctp-mocha-accent);
  background: none;
  border: none;
  border-bottom: 2px solid var(--ctp-mocha-subtle);
  padding: 8px 4px;
  outline: none;
  font-size: 1rem;
  caret-color: var(--ctp-mocha-accent);
}

.signupPage.dark-theme .field::placeholder {
  color: var(--ctp-mocha-accent);
}

.signupPage.dark-theme .sup-btn {
  background: var(--ctp-mocha-accent);
  border: none;
  border-radius: 0.75rem;
  padding: 1.25rem;
  width: 45%;
  font-size: 1.25rem;
  color: var(--ctp-mocha-base);
}

/* Responsive */
@media (max-width: 600px) {
  .signupPage.dark-theme .signupBg {
    padding: 1.5rem;
    background-size: cover;
    justify-content: center;
  }
  .signupPage.dark-theme .signUp {
    width: 100vw;
  }
}
